@charset "utf-8";
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}
/* 
ul {
    font-family: 'Montserrat';
    font-size: 20px;
    color: antiquewhite;
} */
