{% extends 'main/base.html' %}
{% load static %}
{% block title %}Control Panel{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/contol_panel_page.css' %}">
{% endblock head %}

{% block content %}
<div class='control-container'>
    <div class="row">
        <div class="col-3">
            <div class="user-profil">
                <div class='img-profil'>
                    <img src="{{user.avatar.url}}" alt="">
                    <span class="edit_btn"><a href="{% url 'edit_worker_profile' %}"><img src="{% static 'main/images/edit_logo.png' %}" alt="" height="32" width="32"></a></span>
                </div>
            <h5>{{user.position.title}}</h5>
            <h3 class='worker-name'>@{{user.get_username}}</h3>
            <h4 class='worker-name'>{{user.first_name}} {{user.last_name}}</h4>
            </div>  
        </div>
        <div class="col div-btn-company">
            {% if corp %}
            <a class="link-comp" href="{% url 'company_profil_page' corp.id %}">
                <div class="row justify-content-end align-items-center">
                    <div class="col-1 corp-logo">
                        <div class="corp-logo" style="background-image: url('{{corp.logo.url}}');"></div>
                        <!-- <img src="" alt="" width="60" height="60"> -->
                    </div>
                    <div class="col-2 title-comp">
                        <h4 class="title-comp">{{corp.name}}</h4>
                    </div>
                </div>
            </a>
            <div class="row">
                <h3 class='worker'>Сотрудники</h3>
                <div class="col-2">
                    <a class='btn-worker' href="{% url 'company_workers_page' %}" class="btn btn-outline-success invite-worker ">
                        Сотрудники
                    </a>
                    
                </div>
            </div>
            <div class="row">
                <h3 class='worker'>Задачи</h3>
                <div class="col-2">
                    <a class='btn-worker' href="{% url 'index_tasks_page' %}" class="btn btn-outline-success invite-worker ">
                        Мои задачи
                    </a>
                    
                </div>
            </div>
            {% else %}
            <div class="login-or-register-comp">
                <div class="row btn-company">
                    <div class="col-7 btn"><a href="{% url 'join_worker_invite' %}" class="btn btn-outline-info">Join the company</a></div>
                    <div class="col-7 btn"><a href="{% url 'create_comp_page' %}" class="btn btn-outline-light">Create Company</a></div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
