{% extends 'main/base.html' %}
{% load static %}
{% block title %}Задачи{% endblock title %}
{% block head %}

<link rel="stylesheet" href="{% static 'main/css/tasks/tasks_page.css' %}">
{% endblock head %}
{% block content %}
<div class="container">
    <div class="tasks-tables">
        <table class="table">
            <thead>
                <tr class="table-info">
                <th scope="col">Новые</th>
                </tr>
            </thead>
            <tbody>
                {% for task in is_new %}
                    <tr class="table-info">
                        <th scope="row">
                            <div class="card">
                                <div class="card-header">
                                    {{task.created_date}} - <b>{{task.deadline}}</b>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{task.task|truncatechars:100}}</p>
                                    <footer class="blockquote-footer">
                                        <a class='user-link' href="{% url 'profile_page' task.creator.id %}">
                                            <img src="{{task.creator.avatar.url}}" width="25" height="25">
                                            {{task.creator.first_name}} {{task.creator.last_name}}
                                        </a>
                                    </footer>
                                  <a href="{% url 'detal_task_page' task.id %}" class=" btn-etc">Подробнее</a>
                                </div>
                            </div>
                            
    
                        </th>
                    </tr>
                {% endfor %}
                
            </tbody>
            </table>
        <table class="table">
            <thead>
                <tr class="table-danger">
                    <th scope="col">Не начат</th>
                </tr>
            </thead>
            <tbody>
                {% for task in in_start_tasks %}
                    <tr class="table-danger">
                        <th scope="row">
                            <div class="card">
                                <div class="card-header">
                                    {{task.created_date}} - <b>{{task.deadline}}</b>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{task.task|truncatechars:100}}</p>
                                    <footer class="blockquote-footer">
                                        <a class='user-link' href="{% url 'profile_page' task.creator.id %}">
                                            <img src="{{task.creator.avatar.url}}" width="25" height="25">
                                            {{task.creator.first_name}} {{task.creator.last_name}}
                                        </a>
                                    </footer>
                                  <a class='btn-etc-2' href="{% url 'detal_task_page' task.id %}" class="btn btn-primary">Подробнее</a>
                                </div>
                        </th>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr class="table-warning">
                    <th scope="col">В процессе</th>
                </tr>
            </thead>
            <tbody>
                {% for task in in_process_tasks %}
                    <tr class="table-warning">
                        <th scope="row">
                            <div class="card">
                                <div class="card-header">
                                    {{task.created_date}} - <b>{{task.deadline}}</b>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{task.task|truncatechars:100}}</p>
                                    <footer class="blockquote-footer">
                                        <a class='user-link' href="{% url 'profile_page' task.creator.id %}">
                                            <img src="{{task.creator.avatar.url}}" width="25" height="25">
                                            {{task.creator.first_name}} {{task.creator.last_name}}
                                        </a>
                                    </footer>
                                  <a href="{% url 'detal_task_page' task.id %}" class="btn btn-primary">Подробнее</a>
                                </div>
                        </th>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr class="table-success">
                <th scope="col">Выполнено</th>
                </tr>
            </thead>
            <tbody>
                {% for task in complete_tasks %}
                    <tr class="table-success">
                        <th scope="row">
                            <div class="card">
                                <div class="card-header">
                                    {{task.created_date}} - <b>{{task.deadline}}</b>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{task.task|truncatechars:100}}</p>
                                    <footer class="blockquote-footer">
                                        <a class='user-link' href="{% url 'profile_page' task.creator.id %}">
                                            <img src="{{task.creator.avatar.url}}" width="25" height="25">
                                            {{task.creator.first_name}} {{task.creator.last_name}}
                                        </a>
                                    </footer>
                                  <a href="{% url 'detal_task_page' task.id %}" class="btn btn-primary">Подробнее</a>
                                </div>
                                    <form action="" method="post" class="hide-btn">
                                        
                                        <button type="submit" class="hide-btn-link">
                                            <img src="{% static 'main/images/hide_btn.png' %}" alt="">
                                        </button>
                                    </form>
                            </div>
                        </th>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}