@charset "utf-8";

h6 {
    color: white
}

.header-form {
    display: flex;
    justify-content: space-around;
    
    background: #cfcfcf;
    padding: 10px 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px #000 solid;
}

.header-form h6 {
    color: #000;
}

.header-form select, .header-form input {
    width: 200px;
}

.task-form {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #fff;
    /* border-top-left-radius: 30px;
    border-top-right-radius: 30px; */
    border-radius: 20px;
    padding-bottom: 15px;
}

.task {
    
    text-align: center;
    margin-bottom: 20px;
}
.task h6 {
    text-align: start;
    margin-left: 5.5%;
    margin-top: 10px;
    color: #000;
}
.task > textarea {
    width: 90%;
    height: 500px;
    resize: none;
    overflow-y: scroll;
}


.task-label {
    position: relative;
    width: 90%;
}

.submit-task-btn {
    text-align: center;
}